name: renovate-bot

on:
  schedule:
    - cron: '5 4 * * 2'
  workflow_call:
    inputs:
      logLevel:
        description: "Override default log level"
        required: false
        default: "info"
        type: string
      overrideSchedule:
        description: "Override all schedules"
        required: false
        default: "false"
        type: string
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Override default log level"
        required: false
        default: "info"
        type: string
      overrideSchedule:
        description: "Override all schedules"
        required: false
        default: "false"
        type: string

concurrency: renovate-bot

jobs:
  renovate-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2
        with:
          app-id: ${{ secrets.GH_GARDENER_APP_ID }}
          private-key: ${{ secrets.GH_GARDENER_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Validate Renovate JSON
        run: jq type .github/renovate.json

      - name: Self-hosted Renovate
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
          RENOVATE_AUTODISCOVER_TOPICS: 'renovate-bot'
          RENOVATE_FORCE: ${{ github.event.inputs.overrideSchedule == 'true' && '{''schedule'':null}' || '' }}
          RENOVATE_ONBOARDING: "false"
          RENOVATE_PLATFORM_COMMIT: 'true'
          RENOVATE_REPOSITORIES: ${{ github.repository }}
        uses: renovatebot/github-action@85b17ebd5abf43d1c34c01bd4c8dbb8d45bbc2c7 # v43.0.7
        with:
          configurationFile: .github/renovate.json
          token: '${{ steps.generate-token.outputs.token }}'
